.header{
    box-shadow:0 5px 5px 0(0,0,0,0.8);
    height:80px;
    display:flex;
    border-bottom: 5px solid rgba(138, 137, 137, 0.993)
}
.header_search{
    margin-top:20px;
    box-shadow: 2px 2px 2px 2px(0,0,0,0.8);
    margin-left: auto;
}

.header_search>input{
    border-style:none;
    font-size:32px;
}

.MuiSvgIcon-root {
    font-size:2.5rem;
}
textarea:focus, input:focus{
    outline: none;
}
.header_Icon{
    display: flex;
    margin-left:auto;
    
}
.Login{
    margin:10px;
}
.Cart{
    margin:10px;
} 
.WishList{
    margin:10px;
}
