.container{
    display:flex;
    flex-direction:row;
}
.home{
    flex:5;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:900px;
}

.home_product{
    margin: 20px;
    width:300px;
    text-align:center;
}

.home_product>img{
    background-repeat: no-repeat;
    background-size: auto;
    width:300px;
}

.filter{
    display: flex;
    flex-direction:column;
    margin:20px;
    flex:1;
}

.filter>div{
    margin:10px;
}

.filter> input{
    padding-bottom:20px;
}
.sort{
    display:flex;
    flex-direction:column;
}

.page{
    display:flex;
    justify-content: center;
}

.heart_Icon{
    border:none;
    background-color:white;
    outline:none;
}
